.modal-add-tag-btn {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: relative !important;
  top: -5px !important;      /* Adjust this value to move the button up/down */
  line-height: 28px !important;
  padding: 0 16px !important;
  height: 28px !important;
  min-width: 75px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
